<div class="container">
	<div class="col-md-8">
		<div class="page-header">
			<div class="row">
				
				<div class="col-sm-9"><h1>Articles</h1></div>
				<div class="col-sm-3">
					<%= link_to new_article_path, class: "btn btn-default" do %>
	   					<span class="glyphicon glyphicon-chevron-right"></span> New Article
					<% end %>
				</div>
				
			</div>
		</div>
		
		<% @articles.each do |article| %>
			<div class="row" style="margin-bottom: 30px;">
				<div class="col-xs-1" >
   					<%= form_tag upvote_article_path(article), :method => 'PUT' do %>
					  <div class="input-group">
					  	<%= hidden_field_tag :upvote, 1 %>
					  	<span class="input-group-btn">
					    	 <%= button_tag(type: "submit", class: "btn btn-default") do %>
		   						<span class="glyphicon glyphicon-thumbs-up"></span>
							<% end %>
					     </span>
					</div>
		   	 		<% end %>

		   	 		
					<%= form_for article do |f| %>
						 <% if article.sum != nil %> 
							<%= f.text_field :sum, readonly:true, size:1%>
						 <% else %>
						 	<%= f.text_field :sum, readonly:true, size:1,  :value => '0'%>
						<% end %>
					<% end %>
				

					<%= form_tag downvote_article_path(article), :method => 'PUT' do %>
						  <div class="input-group">
						  	<%= hidden_field_tag :downvote, -1 %>
						  	<span class="input-group-btn">
						    	 <%= button_tag(type: "submit", class: "btn btn-default") do %>
			   						<span class="glyphicon glyphicon-thumbs-down"></span>
								<% end %>
						     </span>
						</div>
			   	 		<% end %>
				</div>
				
				<div class="col-xs-11">
					<p><span class="glyphicon glyphicon-time"></span> Published at: <%= article.created_at %>
					</p>

					<p><span class="glyphicon glyphicon-time"></span> Posted By:  <%= link_to article.user.try(:email), article.user.try(:profile)%>
					</p>

					<% if article.categories.count > 0 %>

						<p><span class="glyphicon glyphicon-time"></span> Categorys:

					<% end %>

			   		<% article.categories.each do |category| %>

						 <%= link_to category.name, category %>,
			   		<% end %>

			   		</p> 

     				<p style="font-size: 25px; color: cornflowerblue; ">
						<%= article.title %> <small style="color:black; font-size: small;">(<%= article.comments.count %>  <% if article.comments.count > 1  or article.comments.count == 0%> Comments <% else %> Comment <% end %>)</small>
					</p>

					</br>
					<%= article.body %>
					<br>
					<br>

					<%= link_to article, class: "btn btn-default" do %>
	   					 <span class="glyphicon glyphicon-chevron-right"></span> Read More
					<% end %>

					<% if article.comments.count > 1 %> 
						<%= link_to "#", id: "comments-link", class: "btn btn-default" do %>
		   					 <span class="glyphicon glyphicon-chevron-right"></span> Top Comments
						<% end %>
					<% end %>

					<section id="comments-section"> 

						<div class="row">
							<ol id="comments">
								<% article.comments.first(3).each do |comment| %>
									<br>
									<strong><%= comment.name %></strong>
									<blockquote>
								  		<p><%= comment.body %></p>
								  	</blockquote>
								<% end %>
						  	</ol> 
						</div>
					</section>
				</div>
			</div>
			
		<% end %>

		<div class="flickr_pagination">
		    <div class="page_info">
		     	 <%= page_entries_info @articles %>
		    </div>
		    <%= will_paginate @articles, :container => false %>
		</div>	
	</div>

	<div class="col-md-4">
	    <!-- Blog Search Well -->
	    <div class="well">
	        <h4>Blog Search</h4>
	        <%= form_tag root_path, :method => 'get' do %>
			  <div class="input-group">
			  	<%= text_field_tag :search, params[:search], placeholder: "", :class => "form-control" %>
			  	<span class="input-group-btn">
			    	 <%= button_tag(type: "submit", class: "btn btn-default") do %>
   						<span class="glyphicon glyphicon-search"></span>
					<% end %>
			     </span>
			</div>
			    <% end %>
    	</div>

		<!-- Blog Categories -->
	    <div class="well">
	        <div class="col-sm-6"><h4>Categories</h4></div>
	        <div class="col-sm-6"><%= link_to new_category_path, class: "btn btn-default" do %>
	   			<span class="glyphicon glyphicon-chevron-right"></span> New Category
			<% end %></div>
	        <div class="row">
	            <div class="col-xs-11 col-xs-offset-1">
	                <% @categories.first(3).each do |categories| %> 
				    	<br>
						<%= link_to categories.name, categories %>
				   	<% end %>
	            </div>
	        </div>
	    </div>
	</div>
</div>