<div class="container">
	<div class="col-md-8">
		<div class="page-header">
			<h1>Listing articles</h1>
		</div>
		
		<% @articles.each do |article| %>
			<div class="row" style="margin-bottom: 30px;">
				<div class="col-xs-1" >
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<input type="text" value="3" size="2" readonly>
					<span class="glyphicon glyphicon-thumbs-down"></span>
				</div>
				
				<div class="col-xs-11">
					<p><span class="glyphicon glyphicon-time"></span> Published at: <%= article.created_at %>
					</p>

					<p style="font-size: 25px; color: cornflowerblue; ">
						<%= article.title %>
					</p>

					</br>
						<%= article.body %>
						<br>
						<br>
						<%= link_to article, class: "btn btn-default" do %>
		   					 <span class="glyphicon glyphicon-chevron-right"></span> Read More
						<% end %>
				</div>
			</div>
			
		<% end %>

		<div class="flickr_pagination">
		    <div class="page_info">
		     	 <%= page_entries_info @articles %>
		    </div>
		    <%= will_paginate @articles, :container => false %>
		</div>	
	</div>

	<div class="col-md-4">
	    <!-- Blog Search Well -->
	    <div class="well">
	        <h4>Blog Search</h4>
	        <div class="input-group">
	            <input type="text" class="form-control">
	            <span class="input-group-btn">
	                <button class="btn btn-default" type="button">
	                    <span class="glyphicon glyphicon-search"></span>
	            </button>
	            </span>
	        </div>
    </div>

</div>