<section class "row">

  <div class="col-xs-offset-0 col-xs-10 col-ms-offset-4 col-md-4 login-form-bg">
  <%= bootstrap_form_for(@category) do |f| %>
    <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %>
  prohibited this category from being saved:</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, hide_label: true, placeholder: "Name" %>
    </div>
    
    <div class="actions">
      <%= submit_or_cancel(f) %>
    </div>
  <% end %>
  </div>
</section>
